body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* FOR FOOTER */
main {
    min-height: 80vh;
}

/* TOP BOTTOM PADDING FOR AMOUNT OF PRODUCT */
h3 {
    padding: 1rem 0;
}

/* FOR RATING STARS  IN Product Component*/
.rating span {
    margin: 0.1rem;
}

h1 {
    font-size: 1.4rem;
    padding: 0.1rem;
}

label,
span,
a,
td {
    font-weight: 500;
}

/* CAROUSEL */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 60px;
    border-radius: 50%;
}

/* .carousel a {
    margin: 0 auto;
} */

.carousel-item a {
    width: 100%;
    display: block;
    text-align: center;
}

/* .carousel-item a > img {
    margin-left: auto;
    margin-right: auto;
} */
